$bright-ktb-blue: #0CB1F1;
$ktb-blue: #04baee;
$ktb-blue-darker: #008ec4;
$blue: #00a6e6;
$ktb-dark-blue: #006e95;

$very-light-blue: #f4faff;
$light-blue-border: #C7E3EC;

$dark-blue-lighter: #00446b;
$deep-dark-blue: #003154;
$black-blue: #002240;

$red: #db0000;
$bg-fade-red: #FFF7F8;
$text-red: #bb0000;
$warning: #f49b00;

$bright-green: #6ed200;
$green: #60b800;

$gold-yellow: #F0E995;
$dark-gold-yellow: #7B7636;
$gold-shadow: #BBB45A;

$page-grey-bg: #f5f5f5;
$page-grey-white: #f8f8f8;
$page-grey-bg-fade: #f8f8f8;

$border-grey: #e3e3e3;
$border-dark-grey: #a1b6bd;
$form-border: #d6d6d6;
$table-border-grey: #d8d8d8;

$text-black: #001835;
$text-grey: #4a4a49;
$mute-text-grey: #868686;

$mc-grey: #868686;

$step-unactive: #768B9F;

$darkgrey-bw: #676767;
$textgrey-bw: #717171;
$border-greybw: #b3b3b3;

$risk-1: #8BC34A;
$risk-2: #A1C34A;
$risk-3: #BFC34A;
$risk-4: #F5DA21;
$risk-5: #FFCD2E;
$risk-6: #FFA82E;
$risk-7: #FF872E;
$risk-8: #FF5050;

$blue1: #0075A0;
$blue2: #00A6E6;
$blue3: #00C5C0;
$blue4: #62D8A0;
$blue5: #40A65B;
$blue6: #317F45;

$blue1-text: #0075A0;
$blue2-text: #00A6E6;
$blue3-text: #00C5C0;
$blue4-text: #4BB784;
$blue5-text: #40A65B;
$blue6-text: #317F45;

$blue1-gradient: linear-gradient(-180deg, #008EC3 0%, #005676 100%);
$blue2-gradient: linear-gradient(-180deg, #47CCFF 0%, #00A6E6 100%);
$blue3-gradient: linear-gradient(-180deg, #19EDE7 0%, #00C5C0 100%);
$blue4-gradient: linear-gradient(-180deg, #9BFFD0 2%, #62D8A0 100%);
$blue5-gradient: linear-gradient(-180deg, #4EC86F 0%, #40A65B 100%);
$blue6-gradient: linear-gradient(-180deg, #317F45 0%, #205A2F 100%);

$blue1-top: #008EC3;
$blue2-top: #47CCFF;
$blue3-top: #19EDE7;
$blue4-top: #9BFFD0;
$blue5-top: #4EC86F;
$blue6-top: #317F45;

$brightblue-gradient: linear-gradient(-180deg, $bright-ktb-blue 0%, $ktb-blue 100%);
$deep-blue-gradient: linear-gradient(-90deg, $deep-dark-blue 0%, $ktb-dark-blue 100%);
$black-blue-gradient: linear-gradient(-90deg, $black-blue 0%, $dark-blue-lighter 100%);

$ktb-dark-blue-gradient : linear-gradient(90deg, #00446B 0%, #0068A3 100%);
$ktb-blue-gradient : linear-gradient(90deg, #008CC1 0%, #00A6E6 100%);